textarea {
    height: 400px;
}

#mailbox-view a {
    display: block;
}

#mailbox-view a:hover {
    cursor: pointer;
}

#mailbox-view .list-group:hover > * {
    background-color: #ededed;
}

.email-prefill {
    font-style: italic;
}